.footer {
    bottom:0;
    background-color: springgreen;
}

.sections{
    display: flex;
    flex-direction: column;
}

.links{
    color: black;
    text-decoration: none;
}

.firstSection {
    margin-bottom: 5vh;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}    
