.filters{
  display:flex-start;
  width:100vh;
  height: 100vh;
  background-color: lightblue;
  flex-direction: column;
 
}
.header{
  display:flex;
  justify-content: center;
}

.body{
  display:flex;
  flex-direction:column;
 
}